@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  box-sizing: border-box; }

body,
html {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 21px;
  overflow: hidden;
  background: linear-gradient(#ddfae8, #b1f3c9); }

body {
  display: flex;
  align-items: center;
  justify-content: center; }

.scene {
  height: inherit;
  width: inherit; }

.ui-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 99; }
  .logo img {
    width: 30px; }

#player_grid {
  z-index: 2; }

#scene_grid {
  z-index: 1; }
  #scene_grid.iso {
    transform: rotateX(55deg) rotateZ(-135deg) translate3d(0, 0, 0em); }

#ground_grid {
  z-index: 0; }
  #ground_grid.iso {
    transform: rotateX(55deg) rotateZ(-135deg) translate3d(0, 0, -1em); }

.grid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 25%;
  font-size: 1.4em;
  width: 20em;
  height: 20em;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0, 1, 0, 1); }
  .grid div {
    width: 2em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    transform-origin: 50% 50%; }
    .grid div:hover {
      outline: 2px solid white; }
    .grid div:active {
      outline: 2px solid rgba(255, 255, 255, 0.5); }

.empty {
  background-color: transparent;
  transform: translate3d(0, 0, 0em);
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
  transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
  background-blend-mode: soft-light;
  background-size: 100%;
  background-color: transparent;
  background-image: url("../assets/images/textures/.png"); }
  .empty:before, .empty:after {
    content: "";
    position: absolute;
    width: inherit;
    height: 0em;
    background-image: url("../assets/images/textures/.png");
    background-blend-mode: soft-light;
    background-size: contain;
    background-position: 0% 100%;
    background-repeat: repeat;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
  .empty:before {
    background-color: rgba(26, 25, 25, 0);
    transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
    transform-origin: 50% 0%; }
  .empty:after {
    background-color: transparent;
    transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
    transform-origin: -50% 0%; }

.desert {
  background: linear-gradient(#ddfae8, #b1f3c9); }
  .desert .ground {
    background-color: #EEE27E;
    transform: translate3d(0, 0, 1em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #EEE27E;
    background-image: url("../assets/images/textures/sand.png"); }
    .desert .ground:before, .desert .ground:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 1em;
      background-image: url("../assets/images/textures/sand.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .ground:before {
      background-color: #f4ecab;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .ground:after {
      background-color: #e8d851;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .foundation {
    background-color: #EEE27E;
    transform: translate3d(0, 0, 0em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #EEE27E;
    background-image: url("../assets/images/textures/ornate.png"); }
    .desert .foundation:before, .desert .foundation:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 0em;
      background-image: url("../assets/images/textures/sand.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .foundation:before {
      background-color: #f4ecab;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .foundation:after {
      background-color: #e8d851;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .hut {
    background-color: #B2AC7C;
    transform: translate3d(0, 0, 2em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #B2AC7C;
    background-image: url("../assets/images/textures/roof.png"); }
    .desert .hut:before, .desert .hut:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 2em;
      background-image: url("../assets/images/textures/hut.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .hut:before {
      background-color: #c5c09c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .hut:after {
      background-color: #9e975d;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .tower {
    background-color: #8e8853;
    transform: translate3d(0, 0, 4em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #8e8853;
    background-image: url("../assets/images/textures/roof.png"); }
    .desert .tower:before, .desert .tower:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 4em;
      background-image: url("../assets/images/textures/wood_door2.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .tower:before {
      background-color: #a9a26c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .tower:after {
      background-color: #6e6941;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .spire {
    background-color: #B2AC7C;
    transform: translate3d(0, 0, 6em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #B2AC7C;
    background-image: url("../assets/images/textures/ornate.png"); }
    .desert .spire:before, .desert .spire:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 6em;
      background-image: url("../assets/images/textures/tower.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .spire:before {
      background-color: #c5c09c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .spire:after {
      background-color: #9e975d;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .monolith {
    background-color: #F3F4F7;
    transform: translate3d(0, 0, 8em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #F3F4F7;
    background-image: url("../assets/images/textures/ornate.png"); }
    .desert .monolith:before, .desert .monolith:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 8em;
      background-image: url("../assets/images/textures/column.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .monolith:before {
      background-color: white;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .monolith:after {
      background-color: #d4d8e3;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .megalith {
    background-color: #FFD700;
    transform: translate3d(0, 0, 10em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #FFD700;
    background-image: url("../assets/images/textures/spiral.png"); }
    .desert .megalith:before, .desert .megalith:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 10em;
      background-image: url("../assets/images/textures/ionic.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .megalith:before {
      background-color: #ffdf33;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .megalith:after {
      background-color: #ccac00;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .player {
    background-color: #95BEAD;
    transform: translate3d(0, 0, );
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #95BEAD;
    background-image: url("../assets/images/textures/circle.png"); }
    .desert .player:before, .desert .player:after {
      content: "";
      position: absolute;
      width: inherit;
      background-image: url("../assets/images/textures/wood_ver.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .desert .player:before {
      background-color: #b5d1c5;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .desert .player:after {
      background-color: #75ab95;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .desert .atmosphere {
    width: 200%;
    height: 100%;
    background: url("../assets/images/textures/dust3.png") repeat;
    background-size: 150px;
    animation: scrollX 20s linear infinite; }

@keyframes scrollX {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(-50%, 0, 0); } }
  .desert + .day-counter,
  .desert ~ .bottom-left {
    color: #333; }

.forest {
  background: linear-gradient(to top, #135359, #03d7c7); }
  .forest .ground {
    background-color: #60d3aa;
    transform: translate3d(0, 0, 1em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #60d3aa;
    background-image: url("../assets/images/textures/sand.png"); }
    .forest .ground:before, .forest .ground:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 1em;
      background-image: url("../assets/images/textures/sand.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .ground:before {
      background-color: #88debf;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .ground:after {
      background-color: #38c894;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .foundation {
    background-color: #88DEBF;
    transform: translate3d(0, 0, 0em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #88DEBF;
    background-image: url("../assets/images/textures/sand.png"); }
    .forest .foundation:before, .forest .foundation:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 0em;
      background-image: url("../assets/images/textures/sand.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .foundation:before {
      background-color: #b0e9d4;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .foundation:after {
      background-color: #60d3aa;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .hut {
    background-color: #67AC9A;
    transform: translate3d(0, 0, 2em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #67AC9A;
    background-image: url("../assets/images/textures/ivy.png"); }
    .forest .hut:before, .forest .hut:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 2em;
      background-image: url("../assets/images/textures/ivy_hut.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .hut:before {
      background-color: #88beb0;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .hut:after {
      background-color: #4f9180;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .tower {
    background-color: #95BEAD;
    transform: translate3d(0, 0, 4em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #95BEAD;
    background-image: url("../assets/images/textures/ornate.png"); }
    .forest .tower:before, .forest .tower:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 4em;
      background-image: url("../assets/images/textures/wood_hor.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .tower:before {
      background-color: #b5d1c5;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .tower:after {
      background-color: #75ab95;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .spire {
    background-color: #7BA7A5;
    transform: translate3d(0, 0, 6em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #7BA7A5;
    background-image: url("../assets/images/textures/squares_light.png"); }
    .forest .spire:before, .forest .spire:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 6em;
      background-image: url("../assets/images/textures/brick.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .spire:before {
      background-color: #9abbba;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .spire:after {
      background-color: #608f8d;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .monolith {
    background-color: #c1d6d5;
    transform: translate3d(0, 0, 8em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #c1d6d5;
    background-image: url("../assets/images/textures/ornate.png"); }
    .forest .monolith:before, .forest .monolith:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 8em;
      background-image: url("../assets/images/textures/column.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .monolith:before {
      background-color: #e0eaea;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .monolith:after {
      background-color: #a3c2c0;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .megalith {
    background-color: #FFD700;
    transform: translate3d(0, 0, 10em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #FFD700;
    background-image: url("../assets/images/textures/spiral.png"); }
    .forest .megalith:before, .forest .megalith:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 10em;
      background-image: url("../assets/images/textures/ionic.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .megalith:before {
      background-color: #ffdf33;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .megalith:after {
      background-color: #ccac00;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .player {
    background-color: #B2AC7C;
    transform: translate3d(0, 0, );
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #B2AC7C;
    background-image: url("../assets/images/textures/circle.png"); }
    .forest .player:before, .forest .player:after {
      content: "";
      position: absolute;
      width: inherit;
      background-image: url("../assets/images/textures/wood_ver.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .forest .player:before {
      background-color: #c5c09c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .forest .player:after {
      background-color: #9e975d;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .forest .atmosphere {
    width: 100%;
    height: 200%;
    background: url("../assets/images/textures/dust_white.png") repeat;
    background-size: 200px;
    opacity: 0.2;
    animation: scrollY 20s linear infinite; }

@keyframes scrollY {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(0, -50%, 0); } }
  .forest ~ .bottom-left,
  .forest ~ .bottom-left .link,
  .forest ~ .day-counter {
    color: #fff; }

.interior {
  background: #37314a; }
  .interior .ground {
    background-color: #8e8853;
    transform: translate3d(0, 0, 1em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #8e8853;
    background-image: url("../assets/images/textures/wood_ver.png"); }
    .interior .ground:before, .interior .ground:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 1em;
      background-image: url("../assets/images/textures/wood_ver.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .ground:before {
      background-color: #a9a26c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .ground:after {
      background-color: #6e6941;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .interior .foundation {
    background-color: #8e8853;
    transform: translate3d(0, 0, 0em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #8e8853;
    background-image: url("../assets/images/textures/ornate.png"); }
    .interior .foundation:before, .interior .foundation:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 0em;
      background-image: url("../assets/images/textures/wood_hor.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .foundation:before {
      background-color: #a9a26c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .foundation:after {
      background-color: #6e6941;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .interior .hut {
    background-color: #655c4d;
    transform: translate3d(0, 0, 2em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #655c4d;
    background-image: url("../assets/images/textures/sand.png"); }
    .interior .hut:before, .interior .hut:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 2em;
      background-image: url("../assets/images/textures/sand.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .hut:before {
      background-color: #827663;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .hut:after {
      background-color: #484237;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .interior .tower {
    background-color: #8e8853;
    transform: translate3d(0, 0, 4em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #8e8853;
    background-image: url("../assets/images/textures/roof.png"); }
    .interior .tower:before, .interior .tower:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 4em;
      background-image: url("../assets/images/textures/wood_door2.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .tower:before {
      background-color: #a9a26c;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .tower:after {
      background-color: #6e6941;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .interior .spire {
    background-color: #7B8AA7;
    transform: translate3d(0, 0, 6em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #7B8AA7;
    background-image: url("../assets/images/textures/ornate.png"); }
    .interior .spire:before, .interior .spire:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 6em;
      background-image: url("../assets/images/textures/brick.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .spire:before {
      background-color: #9aa5bb;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .spire:after {
      background-color: #60708f;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .interior .monolith {
    background-color: #F3F4F7;
    transform: translate3d(0, 0, 8em);
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #F3F4F7;
    background-image: url("../assets/images/textures/ornate.png"); }
    .interior .monolith:before, .interior .monolith:after {
      content: "";
      position: absolute;
      width: inherit;
      height: 8em;
      background-image: url("../assets/images/textures/column.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .monolith:before {
      background-color: white;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .monolith:after {
      background-color: #d4d8e3;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }
  .interior .player {
    background-color: #95BEAD;
    transform: translate3d(0, 0, );
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
    background-blend-mode: soft-light;
    background-size: 100%;
    background-color: #95BEAD;
    background-image: url("../assets/images/textures/circle.png"); }
    .interior .player:before, .interior .player:after {
      content: "";
      position: absolute;
      width: inherit;
      background-image: url("../assets/images/textures/wood_ver.png");
      background-blend-mode: soft-light;
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: repeat;
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
    .interior .player:before {
      background-color: #b5d1c5;
      transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
      transform-origin: 50% 0%; }
    .interior .player:after {
      background-color: #75ab95;
      transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
      transform-origin: -50% 0%; }

.goal {
  background-color: #7658FF;
  transform: translate3d(0, 0, );
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
  transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
  background-blend-mode: soft-light;
  background-size: 100%;
  background-color: #7658FF;
  background-image: url("../assets/images/textures/sand.png"); }
  .goal:before, .goal:after {
    content: "";
    position: absolute;
    width: inherit;
    background-image: url("../assets/images/textures/sand.png");
    background-blend-mode: soft-light;
    background-size: contain;
    background-position: 0% 100%;
    background-repeat: repeat;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), height 0.5s cubic-bezier(0, 0, 0, 1); }
  .goal:before {
    background-color: #a08bff;
    transform: rotateX(-90deg) rotateY(180deg) translate3d(50%, 0, 0);
    transform-origin: 50% 0%; }
  .goal:after {
    background-color: #4c25ff;
    transform: rotateX(-90deg) rotateY(90deg) translate3d(-150%, 0%, 0px);
    transform-origin: -50% 0%; }

.atmosphere {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 0.5;
  pointer-events: none; }

.day-counter {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  z-index: 9999;
  pointer-events: none; }

.bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 75px;
  z-index: 9999; }

.reset {
  position: absolute;
  top: 50px;
  right: 75px;
  font-size: 0.8em; }

.coin-counter:before {
  position: absolute;
  left: -25px;
  top: 15px;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(#ffdb1a, #e6c200); }

.coin-counter + .link {
  margin-left: 30px; }

.coin-modal {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 2em;
  max-width: 450px;
  z-index: 9999;
  background-color: #fff;
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  transition: all 1s cubic-bezier(0, 1, 0, 1);
  pointer-events: none; }
  .coin-modal h3 {
    font-family: 'Arial'; }
  .coin-modal p {
    font-size: 0.8em;
    margin-bottom: 2em; }
  .coin-modal.coin-modal-show {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    pointer-events: auto; }
  .coin-modal .link {
    color: #7B8AA7; }

.coin {
  position: relative;
  margin-left: 25px; }
  .coin.small {
    margin-left: 15px; }
    .coin.small:before {
      position: absolute;
      left: -15px;
      top: 4px;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: linear-gradient(#ffdb1a, #e6c200); }
  .coin:before {
    position: absolute;
    left: -25px;
    top: 6px;
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(#ffdb1a, #e6c200); }

.button {
  display: inline-block;
  font-size: 0.8em;
  padding: 20px 30px;
  background-color: #FFD700;
  border-radius: 2px;
  cursor: pointer; }

.link {
  display: inline-block;
  font-size: 0.8em;
  padding: 10px 15px;
  color: #252B37;
  cursor: pointer; }
  .link:hover {
    text-decoration: underline; }

.tippet {
  display: flex;
  flex-direction: row; }
